body{
    position: relative;
    background-image: url(../images/beautiful-shining-stars-night-sky_resultat.webp);
    background-size: cover;
    font-family: 'Bahnschrift';
    outline: solid red;
}

p, h1, h2{
    color: white;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.logo{
    width: 40%;
    height: 40%;
}

.loginButton{
    padding: 1rem;
    text-decoration: none;
    color: #979797;
}

.loginButton:hover{
    padding: 1rem;
    color: black;
    background-color: #979797;
    border: 1px solid #000000;
    border-radius: 20px;
}

.signinButton{
    margin-left: 1rem;
    text-decoration: none;
    color: #979797;
    margin-right: 1rem;
    padding: 1rem;
}

.signinButton:hover{
    padding: 1rem;
    color: black;
    background-color: #979797;
    border: 1px solid #000000;
    border-radius: 20px;
}

@media screen and (min-width: 36em) {
    .logo{
        width: 30%;
        height: 30%;
    }
}

@media screen and (min-width: 48em) {
    .logo{
        width: 25%;
        height: 25%;
    }
}

@media screen and (min-width: 62em) {
    .logo{
        width: 20%;
        height: 20%;
    }
}

/* Navigation bar */
nav{
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.pseudo{
    font-size: 2rem;
    color: #979797;
}

.message{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputTouit{
    min-width: 27rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 25px;
}

.submitButton{
    max-height: 5rem;
    max-width: 5rem;
    border-radius: 25px;
    padding: 1rem;
    background-color: rgb(187, 187, 187);
    border: 1px solid black;
}

@media screen and (min-width: 36em) {
    nav{
        width: 70%;
        margin-left: 5%;
        margin-right: 0;
    }
}

@media screen and (min-width: 48em) {
    nav{
        width: 50%;
        margin-left: 5%;
        margin-right: 0;
    }

    .submitButton{
        margin-right: 5rem;
    }
}

@media screen and (min-width: 62em) {
    nav{
        width: 40%;
        margin-left: 5%;
        margin-right: 0;
    }

    .submitButton{
        margin-right: 15rem;
    }
}



/* Section Touit */
section{
    display: flex;
}

.touitSection{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2%;
    padding: 2rem;
}

.odd{
    margin-top: 2rem;
}

.even{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 2rem;
}

.touitText{
    width: 75%;
    height: auto;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #979797;
    border-radius: 20px;
    text-align: center;
}

.touitosLogo{
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    border-radius: 25px;
    background-color: #979797;
}

.topTouitSection{
    width: 45%;
    margin-left: 7%;
    margin-right: 0%;
    padding: 2rem;
    text-align: center;
}

.topTouitTable{
    display: flex;
    flex-direction: column;
    min-width: 25rem;
    width: 90%;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    padding: 2rem;
    background-color: #979797;
    border: 1px solid #979797;
    border-radius: 20px;
}

.topTouitSpacer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.touitSpacer{
    font-size: 2rem;
}

@media screen and (max-width: 36em) {
    .touitSection{
        width: 90%;
        margin-left: 2%;
        margin-right: 0;
    }

    .topTouitSection{
        display: none;
    }
}

@media screen and (min-width: 48em) {
    .touitSection{
        margin-left: 2%;
        margin-right: 0;
    }

    .topTouitSection{
        margin-right: 3%;
    }

}

@media screen and (min-width: 62em) {
    .touitSection{
        margin-left: 2%;
        margin-right: 0;
    }
}

/* Footer */
footer{
    position: absolute;
    bottom: 0;
    margin: 1rem;
    color: rgb(31, 31, 31);
}