body {
  position: relative;
  background-image: url(../images/spaceSombre.png);
  background-color: #000000;
  font-family: "Bahnschrift";
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.logo {
  width: 40%;
  height: 40%;
}

.signinButton,
.loginButton {
  margin-right: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: #979797;
  font-size: 13px;
}

.signinButton:hover,
.loginButton:hover {
  background-color: #979797;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 1rem;
  color: black;
}

@media screen and (min-width: 36em) {
  .logo {
    width: 30%;
    height: 30%;
  }
}

@media screen and (min-width: 48em) {
  .logo {
    width: 25%;
    height: 25%;
  }
}

@media screen and (min-width: 62em) {
  .logo {
    width: 20%;
    height: 20%;
  }
}

/* Navigation bar */
nav {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.pseudo {
  max-width: 150px;
  margin-bottom: 1rem;
  border-radius: 20px;
  font-size: 1.5rem;
  color: #979797;
}

.message {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.inputTouit {
  min-width: 27rem;
  border-radius: 25px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.submitButton {
  max-height: 5rem;
  max-width: 5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  background-color: rgb(187, 187, 187);
  border-radius: 25px;
  border: 1px solid black;
  padding: 1rem;
}

@media screen and (min-width: 36em) {
  nav {
    width: 100%;
    margin-left: 5%;
    margin-right: 0;
  }
}

@media screen and (min-width: 48em) {
  nav {
    width: 70%;
  }

  .pseudo {
    margin-bottom: 0.25rem;
    margin-right: 2rem;
  }

  .inputTouit {
    margin-right: 2rem;
  }
}

/* Touit Section */
section {
  display: flex;
}

.touitSection {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 2%;
  padding: 2rem;
}

.odd {
  margin-top: 3rem;
}

.even {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 3rem;
}

.touitText {
  height: auto;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  background-color: #979797;
  border: 2px solid #979797;
  border-radius: 20px;
  padding: 1rem;
  color: #000000;
  word-break: break-all;
}

.touitosLogo {
  width: 5rem;
  height: 5rem;
  background-color: #979797;
  border-radius: 25px;
  padding: 0.5rem;
}

.authorProfile {
  width: 75%;
  display: flex;
  align-items: center;
  margin-left: 5rem;
  font-size: 2rem;
  color: white;
}

.author {
  margin-right: 2rem;
}

/* Top Touit Section */
.topTouitSection {
  width: 45%;
  text-align: center;
  margin-left: 7%;
  margin-right: 0%;
  padding: 2rem;
}

.topTouitSection h2 {
  color: white;
}

.topTouitTable {
  min-width: 25rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #979797;
  border: 1px solid #979797;
  border-radius: 20px;
  padding: 2rem;
}

.trendingWord {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.trendingWord p {
  margin: 1rem;
}

.topTouitSpacer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.touitSpacer {
  font-size: 2rem;
}

@media screen and (max-width: 36em) {
  .touitSection {
    width: 90%;
    margin-left: 2%;
    margin-right: 0;
  }

  .topTouitSection {
    display: none;
  }
}

@media screen and (min-width: 48em) {
  .touitSection {
    margin-left: 2%;
    margin-right: 0;
  }

  .topTouitSection {
    margin-right: 3%;
  }
}

@media screen and (min-width: 62em) {
  .touitSection {
    margin-left: 2%;
    margin-right: 0;
  }
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  margin: 1rem;
  color: rgb(31, 31, 31);
}
